.idea/
.vs/
Debug
x64
.gitignore
boost
Release
=======
﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
